# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Base de Datos y Caché Python (del cliente viejo)
*.db
__pycache__/
*.pyc
.env

# Angular (Frontend build files)
dist/
tmp/
out-tsc/
bazel-out/
.angular/
